<header>
    <img
    src="assets/img/Foto_Lucas_Perfil.jpg"
    alt="Lucas Paduam Foto Perfil"
    width="200px"
    height="200px"
    Loading="eager"
    />
    <h1>Lucas Paduam</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Full-Stack Java | Javascript</p>
        <p>Campinas - SP - Brasil</p>
        <p>Profissional com experiência sólida na área
          administrativa, recentemente graduado em Análise e
          Desenvolvimento de Sistemas. Concluí um estágio
          focado no desenvolvimento de software em um
          projeto de cliente internacional do setor de dispositivos
          móveis, onde aprimorei minhas habilidades em Java
          para Web com Spring, JavaScript, HTML e CSS.
          </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/CV-LucasPaduam_2024.pdf" target="blank" class="btn btn-primary">Download CV</a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/lucas-paduam/" target="blank" class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                src="assets/icons/whatsapp.svg"
                alt="what"
                width="22px"
                height="24px"
                />
                <figcaption>
                    <a
                      href="https://api.whatsapp.com/send?phone=5592981562927&text=Ol%C3%A1%20Olá%20Lucas!"
                      target="_blank"
                    >
                      <strong>Envie uma menssagem para:</strong>
                      <p>WhatsApp: (92) 9 8156-2927</p>
                    </a>
                  </figcaption>
                </figure>
          
                <figure>
                  <img
                    src="assets/icons/mail.svg"
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"
                  />
          
                  <figcaption>
                    <a href="mailto:lucasepaduam@gmail.com" target="_blank">
                      <strong>Envie uma e-mail para:</strong>
                      <p>lucasepaduam&#64;gmail.com</p>
                    </a>
                  </figcaption>
                </figure>
              </section>
            </div>
          </aside>